@tailwind base;
@tailwind components;
@tailwind utilities;
@media print {
    body * {
        visibility: hidden;
    }

    #printReport,
    #printReport * {
        visibility: visible;
    }

    #printReport {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}
@media print {
  body * {
    visibility: hidden;
  }

  #printReport,
  #printReport * {
    visibility: visible;
  }

  #printReport {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: white;
  }
}